In [5]:
def sqr(x):
    return x ** 2

In [6]:
sqr(3)

9

In [8]:
sqr# has name ie sqr

In [10]:
type(lambda x: x** 2) # has to be one expression
# no comments, no assignments, one line of code

function

In [16]:
lambda x: x** 2 # note that the function has no name unline def fns

In [13]:
id(lambda x: x** 2)

140519476776336

In [17]:
id(sqr)

140519476775928

In [18]:
f = sqr

In [20]:
f # name of f is still sqr, f is just the pointer to sqr

In [21]:
lam1 = lambda y: y + 5

In [23]:
lam2 = lambda y: y + 5

In [29]:
id(lam1) , id(lam2) # different ids

(140519476776472, 140519467443064)

In [28]:
lam1(3)

8

In [38]:
l = lambda x, *args, y, **kwargs: (x, args, y, kwargs)

In [39]:
l(3, 4, 5, y=8, j=9, k = 1)

(3, (4, 5), 8, {'j': 9, 'k': 1})

In [41]:
def apply(ar, fn):
    return fn(ar)

In [42]:
apply(3, sqr)

9

In [43]:
apply(5, sq)

25

In [44]:
apply(6, lam1)

11

In [45]:
apply(6, lambda k: k+2)

8

In [46]:
apply(20, lambda j: j - 8)

12

In [47]:
def use_fn(fn, *args, **kwargs):
    return fn(*args, **kwargs)

In [48]:
use_fn(sq, 3)

9

In [51]:
use_fn(lambda n, m: n + 2*m, 1, m = 8)

17

In [53]:
use_fn(lambda *args: sum([*args]), 3, 8, 7, 2)

20

In [54]:
sum_up = lambda *args: sum([*args])

In [55]:
sum_up(1, 2, 3, 4)

10

In [56]:
# sorting

In [58]:
li = [1, 4, 2, 3]

In [59]:
sorted(li)

[1, 2, 3, 4]

In [60]:
sorted('AXYNO')

['A', 'N', 'O', 'X', 'Y']

In [63]:
sorted(('a', 'A', 'B', 'b'), reverse=True) # the ordering is case sensitive

['b', 'a', 'B', 'A']

In [64]:
ord('b')

98

In [65]:
ord('B')

66

In [66]:
ord('a')

97

In [73]:
l = 'A', 'z', 'Q', 'p', 'a', 'Z'

In [75]:
sorted(l, key=lambda s: s.upper()) # key customises sort order

['A', 'a', 'p', 'Q', 'z', 'Z']

In [76]:
# sorting a dictionary

In [77]:
dictionary = {'Jack': 20, 'Mark': 58, 'Tom': 87, 'Peter':12}

In [103]:
# sorted ALWAYS returns a list
sorted(dictionary) # sorting according to name ie key

['Jack', 'Mark', 'Peter', 'Tom']

In [104]:
# sorting by marks ie value in descending order
sorted(dictionary, key=lambda key: dictionary[key], reverse=True)

['Tom', 'Mark', 'Jack', 'Peter']

In [108]:
import math
math.sqrt(1)

1.0

In [109]:
import cmath
cmath.sqrt(-1)

1j

In [110]:
abs(-3j + 4)

5.0

In [111]:
clist = [8, 1 -2j, 3+3j, 5-8j, 2j]

In [112]:
sorted(clist, key=lambda c: abs(c))

[2j, (1-2j), (3+3j), 8, (5-8j)]

In [113]:
def dist_sq(c):
    return c.real ** 2 + c.imag ** 2

In [114]:
sorted(clist, key=dist_sq) # sorting using def function

[2j, (1-2j), (3+3j), 8, (5-8j)]

In [116]:
(-3) ** 2

9

In [134]:
# Sorting by last character
crew = ['Cleese', 'Idle', 'Palin', 'Chapman', 'Gilliam', 'Jones']

In [135]:
sorted(crew, key=lambda member: member[::-1])

['Idle', 'Cleese', 'Gilliam', 'Chapman', 'Palin', 'Jones']

In [139]:
crew2 = ['Be', 'Ra', 'Ha', 'Za']

In [140]:
# sorting strictly by last character
sorted(crew2, key=lambda m: m[-1]) 
# sorted implements stable sort which maintains the order incase of ties

['Ra', 'Ha', 'Za', 'Be']

In [141]:
# reversing an iterable
'JK'[::-1]

'KJ'