In [ ]:
# Tuples
# Immutable ie you cannot add elements and you cannot change order of the elements

In [2]:

for t in (33, 4,2, 8_000):
    print(t)

33
4
2
8000

In [4]:
tu = 3, 4, 5, 10

In [6]:
# slicing a tuple
tu[1:3]

(4, 5)

In [10]:
# unpacking a tuple
x, *ignored, y, z = tu
x, y, z, ignored

(3, 5, 10, [4])

In [14]:
p, _, q = 3, 2, 1
p, q, _ # _ means we do not care about the value

(3, 1, 2)

In [15]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [16]:
pt_origin = Point2D(0, 0)

In [18]:
pt_origin.x, pt_origin.y

(0, 0)

In [19]:
id(pt_origin)

140349881588984

In [26]:
s = "Python "
l = "is great"
full = s + l

In [27]:
full

'Python is great'

In [35]:
# tuples are immutable
a = 3, 2, 1
hex(id(a))

'0x7fa5c0d4f990'

In [37]:
a = a + (0, -1)
hex(id(a)) # different id ie new tuple object created

'0x7fa5c15ceb40'

In [52]:
# data inside a tuple can still change though the tuple itself is immutable
a = 1, [1]

In [53]:
a[1].append(11)

In [54]:
a[1]

[1, 11]

In [55]:
# since integers are immutable, strings are immutable
# a tuple consisting of strings and/or integers is completely immutable

In [58]:
# heterogeneous, each tuple has multiple data structures ie string and int
lond = "London", "UK", 9_000_000
new_y = "New York", "USA", 7_000_000
kamp = "Kampala", "UG", 3_000_000

In [59]:
lond

('London', 'UK', 9000000)

In [60]:
# the list cities is homogeneous, ie consists of only tuples
cities = [
    lond, 
    new_y,
    kamp
]

In [65]:
[print(c[0]) for c in cities]

London
New York
Kampala

[None, None, None]

In [66]:
# getting the total population in all cities
sum(c[2] for c in cities)

19000000

In [69]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [72]:
hash("332")

4915603039042147741

In [73]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
    return random_x, random_y, is_in_circle

In [ ]:
count_inside = 0
number_of_attempts = 1_000_000_000
for i in range(number_of_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1
print(f"Pi is approximately: {4 * count_inside / number_of_attempts}")

In [82]:
for i in range(10):
    print(uniform(2, 5))

3.815976440554268
4.703388097800098
2.9822933615818306
3.1452373193509744
3.0522250698388262
2.3332692634916694
2.6281385362373864
3.1097172653692526
2.046532311107625
2.2984678784551362